NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3000
INTERSWITCH_MERCHANT_CODE=
INTERSWITCH_PAY_ITEM_ID=
INTERSWITCH_CLIENT_ID=
INTERSWITCH_SECRET_KEY=
INTERSWITCH_PAYOUT_BASE_URL=
INTERSWITCH_PAYOUT_WALLET_ID=
INTERSWITCH_PAYOUT_WALLET_PIN=
INTERSWITCH_SOURCE_ACCOUNT_NAME=
INTERSWITCH_SOURCE_ACCOUNT_NUMBER=
INTERSWITCH_WEBHOOK_SECRET=
INTERSWITCH_MODE=TEST
CRON_SECRET=
